.form {
  color: black;
}

.form h2 {
  color: black;
}
.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  font-size: 12px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--color-primary-900);
  padding: 0.2rem 1rem;
  border-radius: 10px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: var(--color-primary-900);
  border-color: var(--color-primary-900);
  color: white;
}

.actions .button--alt {
  color: black;
}

.actions .button {
  background-color: var(--color-primary-600);
  color: black;
}
